<div id="header">
  {{#link-to 'contacts' class="left" id="logo"}}Contacts{{/link-to}}
  {{#link-to 'contacts.new' class="right btn"}}New Contact{{/link-to}}
</div>
<div id="main">
  {{outlet}}
</div>